<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>businessTime</key>
	<array>
		<dict>
			<key>reserveTime</key>
			<string>09:00</string>
			<key>maxCount</key>
			<string>3</string>
			<key>count</key>
			<string>0</string>
		</dict>
		<dict>
			<key>reserveTime</key>
			<string>09:30</string>
			<key>maxCount</key>
			<string>3</string>
			<key>count</key>
			<string>0</string>
		</dict>
		<dict>
			<key>reserveTime</key>
			<string>10:00</string>
			<key>maxCount</key>
			<string>3</string>
			<key>count</key>
			<string>0</string>
		</dict>
		<dict>
			<key>reserveTime</key>
			<string>10:30</string>
			<key>maxCount</key>
			<string>3</string>
			<key>count</key>
			<string>0</string>
		</dict>
		<dict>
			<key>reserveTime</key>
			<string>11:00</string>
			<key>maxCount</key>
			<string>3</string>
			<key>count</key>
			<string>0</string>
		</dict>
		<dict>
			<key>reserveTime</key>
			<string>11:30</string>
			<key>maxCount</key>
			<string>3</string>
			<key>count</key>
			<string>0</string>
		</dict>
		<dict>
			<key>reserveTime</key>
			<string>12:00</string>
			<key>maxCount</key>
			<string>3</string>
			<key>count</key>
			<string>0</string>
		</dict>
		<dict>
			<key>reserveTime</key>
			<string>12:30</string>
			<key>maxCount</key>
			<string>3</string>
			<key>count</key>
			<string>0</string>
		</dict>
		<dict>
			<key>reserveTime</key>
			<string>13:00</string>
			<key>maxCount</key>
			<string>3</string>
			<key>count</key>
			<string>0</string>
		</dict>
		<dict>
			<key>reserveTime</key>
			<string>14:00</string>
			<key>maxCount</key>
			<string>3</string>
			<key>count</key>
			<string>0</string>
		</dict>
		<dict>
			<key>reserveTime</key>
			<string>15:00</string>
			<key>maxCount</key>
			<string>3</string>
			<key>count</key>
			<string>0</string>
		</dict>
		<dict>
			<key>reserveTime</key>
			<string>15:30</string>
			<key>maxCount</key>
			<string>3</string>
			<key>count</key>
			<string>0</string>
		</dict>
		<dict>
			<key>reserveTime</key>
			<string>16:00</string>
			<key>maxCount</key>
			<string>3</string>
			<key>count</key>
			<string>0</string>
		</dict>
		<dict>
			<key>reserveTime</key>
			<string>16:30</string>
			<key>maxCount</key>
			<string>3</string>
			<key>count</key>
			<string>0</string>
		</dict>
		<dict>
			<key>reserveTime</key>
			<string>17:00</string>
			<key>maxCount</key>
			<string>3</string>
			<key>count</key>
			<string>0</string>
		</dict>
		<dict>
			<key>reserveTime</key>
			<string>17:30</string>
			<key>maxCount</key>
			<string>3</string>
			<key>count</key>
			<string>0</string>
		</dict>
		<dict>
			<key>reserveTime</key>
			<string>18:00</string>
			<key>maxCount</key>
			<string>3</string>
			<key>count</key>
			<string>0</string>
		</dict>
		<dict>
			<key>reserveTime</key>
			<string>18:30</string>
			<key>maxCount</key>
			<string>3</string>
			<key>count</key>
			<string>0</string>
		</dict>
		<dict>
			<key>reserveTime</key>
			<string>19:00</string>
			<key>maxCount</key>
			<string>3</string>
			<key>count</key>
			<string>0</string>
		</dict>
		<dict>
			<key>reserveTime</key>
			<string>19:30</string>
			<key>maxCount</key>
			<string>3</string>
			<key>count</key>
			<string>0</string>
		</dict>
		<dict>
			<key>reserveTime</key>
			<string>20:00</string>
			<key>maxCount</key>
			<string>3</string>
			<key>count</key>
			<string>0</string>
		</dict>
		<dict>
			<key>reserveTime</key>
			<string>20:30</string>
			<key>maxCount</key>
			<string>3</string>
			<key>count</key>
			<string>0</string>
		</dict>
		<dict>
			<key>reserveTime</key>
			<string>21:00</string>
			<key>maxCount</key>
			<string>3</string>
			<key>count</key>
			<string>0</string>
		</dict>
		<dict>
			<key>reserveTime</key>
			<string>21:30</string>
			<key>maxCount</key>
			<string>3</string>
			<key>count</key>
			<string>0</string>
		</dict>
		<dict>
			<key>reserveTime</key>
			<string>22:00</string>
			<key>maxCount</key>
			<string>3</string>
			<key>count</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
